:root {
  --bodyBG: #f8f7ef;
  --text-link: #202020;
}

html {
  font-size: 24px;
  margin: 0;
  padding: 0em;
  /* max-width: viewport; */
}

body {
  background-color: var(--bodyBG);
  font-family: "Raleway", sans-serif;
  min-width: 350px;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: var(--text-link);
  transition: color 0.4s ease-out;
}

body > header {
  margin: 2em 15em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

body > header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

body > header img {
  max-height: 100%;
  justify-self: flex-start;
}

body > header nav li {
  margin-left: 1em;
}

body > header div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

body > header nav li a {
  transition: 0.1s ease-out;
}

body > header nav li a:hover {
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #deddd3;
  height: 400px;
  margin-top: 0;
}

footer img {
  max-width: 34px;
  max-height: 34px;
  align-self: center;
  margin: 1em;
}

footer a {
  align-self: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

main {
  margin: 0;
}

#dlIcon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  margin-left: 0.5em;
}

#dlIcon:hover {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  body > header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  body > header img {
    max-height: 100%;
    margin-right: 10em;
    justify-self: flex-start;
  }
}

@media screen and (max-width: 790) {
  body > header {
    margin-bottom: 12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body > header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  body > header img {
    max-height: 100%;
    margin-right: 10em;
  }
}
