:root {
  --bodyBg: #222;
  --text-link: gray;
  --alt-color: white;
  --bgText: gray;
  --hotPink: #fe00b8;
}

html {
  font-size: 16px;
  margin: 0;
  pading: 0;
  /* max-width: viewport; */
}

body {
  background-image: url("./assets/images/portfolioCloudsBG_HOME.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-overflow: hidden;
  background-attachment: fixed;
  background-color: var(--alt-color);
  font-family: "Raleway", sans-serif;
  min-width: 350px;
  color: white;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: var(--text-link);
  transition: color 0.4s ease-out;
}

// TODO -Have Drew look at hover not working
a:hover {
  color: var(--alt-color);
  font-weight: 900;
}

body > header {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

body > header div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 20%;
}

body > header img {
  max-height: 100%;
  margin-right: 5em;
}

body > header div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

body > header nav li {
  margin: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  align-items: flex-start;
  
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em 0 1em 0;
}


@media screen and (max-width: 739px) {
  body {
    background-size: 900px;
  }

  body > header {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  body > header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  body > header img {
    max-height: 100%;
    margin-right: 0em;
  }
  
  body > header div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  body > header nav li {
    margin: 1em;
  }
  
}

@media screen and (max-width: 600px) {
  body {
    background-size: 900px;
  }

}

@media screen and (max-width: 400px) {
  body {
    background-size: cover;
  }

}


/* footer img{
    margin-right: 1em;
} */

/* .desktop-only {
    display: none;
} */
